- content_for :title do
  Composer Nights – You’re Signed Up

.content
  %h2 Hooray!
  %p
    %b You’re now in the Composer Night queue!
  %p
    We’ll be in touch with you soon about what dates are available, and what music you might bring.
  %p
    If you’re not already on our mailing list, you will receive a confirmation email from Mailchimp. Please <b>click the confirmation link in that email</b> if you want to find out about New Ruckus events.
  %p
    (We will not share your contact information outside The New Ruckus.)
