%table
  - %w(name email phone).each do |attr|
    %tr
      %th= attr
      %td
        = @signup.presenter.send(attr)
        - if @changed_attrs[attr]
          .changed{style: "color: #800; font-size: 80%"}
            (changed from “#{@changed_attrs[attr]}”)

%blockquote.comments{style: 'white-space: pre-line'}
  = @signup.comments
