- if @signup.optional_info_missing.any?
  %p
    Also, it’s optional, but if you would like some free publicity on the New Ruckus and Studio Z web sites, let me know:
  .signup-info.missing
    - @signup.optional_info_missing.each do |attr, value|
      .attr= info_attr_name attr
