- if false
  .block
    %h2 Next event
    %p.date
      Saturday, September&nbsp;28
      %br
      3:30 – 5:30ish

  .block
    %p
      = link_to 'Slam Academy', 'http://slamacademy.com/'
      %br
      1006 Marquette Ave S, Minneapolis

.block
  = mailing_list_link 'Get on the mailing list', header: false
  to find out when future Music Tech Meetups are scheduled.

