= hero do
  %h1.title Composer Nights
  .subtitle
    %b Sign up
    to share your music

.content
  %p
    Want to share your music? We’d love to hear it at a
    <a href="/composernights">New Ruckus Composer Night</a>!

  %h2 Guidelines
  %ul
    %li
      %b It must be original music.
      You must be the composer / improviser / songwriter / sound artist / inventor of the music you’re signing up to present. You can bring others to perform your work, or you can perform it yourself — but either way, we want the music’s creator there as the guest of honor at
      <a href="http://www.studiozstpaul.com">Studio Z</a>
      in St. Paul, MN!
    %li
      %b It must fit the time and space constraints.
      No more than 15 minutes of music, please. (Shorter performances are just fine. If it’s very short, we might want to hear it twice!) Studio Z is not a concert hall or a stadium, so please make sure what you’re bringing will work in the space.
    %li
      %b You must provide your own performers, and provide any instruments not available at Studio Z.
      If you have special needs, or aren't sure which instruments are available for use at Composer Nights, please ask.
    %li
      %b
        We prefer live performances when possible, but recordings are fine
        %i if
        recording is your medium.
      The key here is that we want to hear the piece performed in the medium it was intended to be performed in.
    %li
      %b It's first come, first served.
      When you are at the front of the queue, you get first dibs on the available dates. You can only hold one place in line at a time, but you can get in line again immediately after you’ve had your turn.
  %ul
  %p
    Want to know more? Please read
    <a href="/composernights">about Composer Nights</a>.
    Questions?
    <a href="/contact">Please ask</a>.

  %h2 Sign-Up Form