// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.

@import "active_admin/mixins";
@import "active_admin/base";

body {
  font: {
    face: 'Helvetica Neue';
    size: 15px;
  }
}

form input[type=text],
form input[type=password],
form input[type=email],
form input[type=number],
form input[type=url],
form input[type=tel],
form textarea {
  font: {
    size: 100%;
  }
}

#sidebar {
  font-size: 80%;
}

.signup {
  .notes {
    font-size: 75%;
    color: #888;
    &.internal {
      font-style: italic;
    }
  }
}