// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.

@import "active_admin/mixins";
@import "active_admin/base";

body {
  font: {
    face: 'Helvetica Neue';
    size: 15px;
  }
}

a {
  text-shadow: none !important;
  text-decoration: none !important;
}

form input[type=text],
form input[type=password],
form input[type=email],
form input[type=number],
form input[type=url],
form input[type=tel],
form textarea {
  font: {
    size: 100%;
  }
}

#sidebar {
  font-size: 80%;
}

.signups-summary {
  padding: 0;
  margin: 0;
  line-height: 100%;
  list-style: none;
  .signup {
    max-height: 3em;
    overflow: hidden;
  }
}
.signup {
  margin: 0.4em 0;
  padding: 0;
  .notes {
    color: #888;
    display: inline;
    font-size: 75%;
    &.internal {
      font-style: italic;
    }

  }
  .info {
    display: inline-block;
    padding: 0.2em 0.6em;
    text-transform: uppercase;
    font-size: 75%;
    font-weight: 600;
    &.present {
      color: #595;
      &:before {
        content: '✓';
      }
    }
    &.absent {
      color: #855;
      &:before {
        content: '✕';
      }
    }
  }
}

.inline-hint {
  display: inline-block;
  margin-left: 1em;
}

.schedule {
  th {
    white-space: nowrap;
    max-height: 1em;
  }
  th, td {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.2em 0.4em;
    vertical-align: middle;
  }
  .dates th {
    text-align: center;
  }
  tr.scheduled {
    color: #888;
    background: #ddd !important;
  }
  .presenter {
    th {
      text-align: right;
    }
    td {
      text-align: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      &.status {
        font: {
          size: 95%;
          weight: bold;
        }
      }
      @mixin status($status, $bg) {
        &.#{$status} {
          &.scheduled {
            color: white;
            background: $bg;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
            border: 1px solid rgba(0, 0, 0, 0.4);
            position: relative;
            z-index: 2;
          }
          &.unscheduled {
            color: rgba(0, 0, 0, 0.6);
            background: rgba($bg, 0.3);
          }
        }
      }
      @include status(unknown, #eee);
      @include status(maybe,   #eee);
      @include status(no,      #a6443d);
      @include status(yes,     #3da649);
      &.unscheduled.full {
        background: #ddd !important;
      }
      &.scheduled.unknown {
        background: #777;
      }

      &.notes {
        text-align: left;
        font-size: 85%;
        line-height: 100%;
        .presenter {
          max-height: 1.8em;
          overflow: hidden;
        }
        .internal {
          margin-top: 0.2em;
          font-style: italic;
        }
      }
    }
  }
}
