// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.

@import "active_admin/mixins";
@import "active_admin/base";

body {
  font: {
    face: 'Helvetica Neue';
    size: 15px;
  }
}

a {
  text-shadow: none !important;
  text-decoration: none !important;
}

form input[type=text],
form input[type=password],
form input[type=email],
form input[type=number],
form input[type=url],
form input[type=tel],
form textarea {
  font: {
    size: 100%;
  }
}

#sidebar {
  font-size: 80%;
}

.signups-summary {
  padding: 0;
  margin: 0;
  line-height: 100%;
  list-style: none;
  .signup {
    max-height: 3em;
    overflow: hidden;
  }
}
.signup {
  margin: 0.8em 0;
  padding: 0;
  .notes {
    color: #888;
    display: inline;
    font-size: 75%;
    &.internal {
      font-style: italic;
    }

  }
  .info-checklist {
    font-size: 75%;
    font-weight: 600;
    margin-left: 1em;
  }
  .info {
    display: inline-block;
    padding: 0em 0.6em;
    text-transform: uppercase;
    &.present, &.yes, &.no {
      color: #595;
      &:before {
        content: '✓';
      }
    }
    &.absent, &.unknown {
      color: #855;
      &:before {
        content: '✕';
      }
    }
    &.maybe {
      color: #995;
      &:before {
        content: '~';
      }
    }
  }
}

.inline-hint {
  display: inline-block;
  margin-left: 1em;
}

.schedule {
  th {
    white-space: nowrap;
    max-height: 1em;
  }
  th, td {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.2em 0.4em;
    vertical-align: middle;
  }
  .dates th {
    text-align: center;
  }

  tr.scheduled,
  tr.scheduled td:not(.scheduled),
  td.unscheduled.full,
  td.no {
    &.status {
      color: #888;
    }
    background: #ccc !important;
  }

  td.scheduled {
    background: mix(#3da649, #444, 70%) !important;
    color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.4) !important;
    position: relative;
    z-index: 2;
  }

  td.unscheduled.yes {
    background: #3da649;
    color: white;
  }

  .presenter {
    th {
      text-align: right;
      .name {
        max-width: 20em;
        display: inline-block;
        overflow: hidden;
      }
      .edit {
        font-size: 75%;
        font-weight: 400;
        padding-left: 0.4em;
        padding-top: 0.6em;
      }
    }
    td {
      text-align: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      &.status {
        font: {
          size: 95%;
          weight: bold;
        }
        cursor: pointer;
      }

      &.status:hover {
        outline: 2px solid rgba(0, 0, 0, 0.5);
      }

      &.notes {
        text-align: left;
        font-size: 85%;
        line-height: 100%;
        .presenter {
          max-height: 1.8em;
          overflow: hidden;
        }
        .internal {
          margin-top: 0.2em;
          font-style: italic;
        }
      }
    }
  }
  .expandable {
    cursor: pointer;
    &.expanded {
      max-height: none !important;
    }
  }
}

form ul.summary {
  margin: 1ex 1em;
}

.mail-preview {
  margin: 2em 0;
  border: 1px solid #ddd;
  border-radius: 0.5ex;
  table {
    background: #eee;
    padding: 1em;
    border-radius: 0.5ex;
  }
  td {
    width: 100%;
  }
  .body {
    border: none;
    margin: 0 1em;
    width: 60%;
    height: 20em;
  }
}