.clr
  clear: both

body
  background: #fefefc
  color: #2f1e29
  font:
    family: 'ProximaNova-400'
    size: 118%

a, a:link, a:visited, a:hover
  color: #a63d56

a:hover, a:focus
  color: #d39fac

p
  margin: 0.8em 0
  line-height: 1.8em

b
  font:
    family: 'ProximaNova-700'

nav.top
  font-family: 'MuseoSans-100'
  padding: 1.2em 5%
  text-transform: uppercase
  font-size: 86%
  letter-spacing: 0.3ex
  text-align: right
  line-height: 1.8em
  .home
    display: block
    text-align: left
    float: left
    a, a:link, a:visited
      color: #3e57a7
    a:hover, a:focus
      color: #a0acd4
  .page
    display: inline-block
    margin-left: 2em

.hero
  text-align: center
  padding: 5em 5%
  background:
    size: cover
    position: 0 25%
    attachment: fixed
  h1
    display: inline-block
    font:
      family: 'MuseoSans-500'
      size: 3em
    letter-spacing: 0.07em
    text-transform: uppercase
    color: white
    background: rgba(0, 0, 0, 0.4)
    padding: 0.8ex 1ex
    margin: 1ex 0
  .subtitle
    color: white
    font-size: 121%
    line-height: 2em
    letter-spacing: 1px
    text-shadow: 0 1px rgba(0, 0, 0, 0.33), -1px 0 rgba(0, 0, 0, 0.25), 1px 0 rgba(0, 0, 0, 0.25), 0 -1px rgba(0, 0, 0, 0.25)

h2
  font-family: 'MuseoSans-500'
  letter-spacing: 0.1ex
  text-transform: uppercase
  font-size: 1.4em
  color: #3e57a7

.content
  padding: 3em 8%

.columns
  .column
    width: 48%
    float: left
    margin-right: 4%
    margin-bottom: 1em
  .column:last-child
    margin-right: 0

.more
  text-align: right
  padding-right: 1em

body.home
  .hero
    background-image: image-url('water-square.jpeg')
