$browsers: ('', -webkit-, -moz-, -o-, -ms-)

@mixin responsive($width)
  @media all and (max-width: $width)
    @content

@import 'sharrre'


$font-face-regular: 'ProximaNova-400'
$font-face-heavy: 'ProximaNova-700'

$link-color: #a63d56
$heading-color: #3e57a7
$link-active-color: mix($link-color, #FFFFFF)
$heading-active-color: mix($heading-color, #FFFFFF)
$footer-bg-color: #3d1121

.clr
  clear: both

.nowrap
  display: inline
  white-space: nowrap

body
  background: #fefefc
  color: #2f1e29
  font:
    family: $font-face-regular
    size: 118%
  @include responsive(700px)
    font-size: 112%
  @include responsive(600px)
    font-size: 106%
  @include responsive(400px)
    font-size: 100%

a, a:link, a:visited
  color: $link-color

a:hover, a:active, a:focus
  color: $link-active-color

b
  font-family: $font-face-heavy

$social-icon-size: 32px
.social-icon
  width:  $social-icon-size
  height: $social-icon-size

nav.top
  font-family: 'MuseoSans-100'
  padding: 0.6em 5%
  text-transform: uppercase
  font-size: 86%
  letter-spacing: 0.3ex
  line-height: 180%
  form
    margin: 1em
  li
    display: inline-block
    vertical-align: middle
    padding: 0.6em 1em
    &.social
      margin-left: 0
      padding-left: 4px
      padding-right: 0
      a:hover, a:active
        opacity: 0.5
  .spacer
    display: inline-block
    height: $social-icon-size
    width: 1px
    margin-left: -1px
  .home
    float: left
    a, a:link, a:visited
      color: $heading-color
    a:hover, a:active, a:focus
      color: $heading-active-color
  .pages
    float: right
    vertical-align: middle
    margin-left: 1em

  @include responsive(900px)
    li
      padding: 0.4em 0.6em
  @include responsive(800px)
    li
      padding: 0.2em 0.4em
    letter-spacing: 0.2ex
  @include responsive(700px)
    line-height: 120%
    .page
      float: right
      clear: right
    .social
  @include responsive(600px)
    .home, .pages
      float: none
      display: inline
    .social-icon
      width:  $social-icon-size * 0.75
      height: $social-icon-size * 0.75

.hero
  text-align: center
  padding: 4.2em 5%
  @include responsive(700px)
    padding: 3.6em 5%
  @include responsive(600px)
    padding: 3em 5%
  @include responsive(500px)
    padding: 2.4em 5%
  @include responsive(400px)
    padding: 1.8em 5%
  background:
    size: 100% auto
    position: 0 -240px
    attachment: fixed
    image: image-url('speckles.jpeg')
    color: #364a5a
  h1, h2
    display: inline-block
    font-family: 'MuseoSans-500'
    letter-spacing: 0.07em
    text-transform: uppercase
    color: white
    background: rgba(0, 0, 0, 0.45)
    padding: 0.8ex 1ex
    margin: 1ex 0
  h1
    font-size: 3em
    @include responsive(800px)
      font-size: 2.75em
    @include responsive(700px)
      font-size: 2.5em
    @include responsive(600px)
      font-size: 2em
  h2
    font-size: 2.5em
    @include responsive(700px)
      font-size: 2em
    @include responsive(600px)
      font-size: 1.5em
  .subtitle
    color: white
    font-size: 120%
    @include responsive(700px)
      font-size: 110%
    @include responsive(600px)
      font-size: 100%
    line-height: 160%
    letter-spacing: 1px
    text-shadow: 0 1px rgba(0, 0, 0, 0.33), -1px 0 rgba(0, 0, 0, 0.25), 1px 0 rgba(0, 0, 0, 0.25), 0 -1px rgba(0, 0, 0, 0.25)
    a, a:link, a:visited
      white-space: nowrap
      color: white
    a:hover, a:active, a:focus
      border-bottom: 1px solid rgba(255, 255, 255, 0.3)

.content
  margin: 3em 10%
  @include responsive(800px)
    margin: 3em 8%
  @include responsive(700px)
    margin: 3em 6%
  @include responsive(600px)
    margin: 2.5em 5%
  p
    margin: 1em 0
    line-height: 160%
  ul
    margin-left: 2em
    list-style: disc
  li
    margin: 0.6em 0
    line-height: 120%
  h2
    font-size: 1.4em

.content, .sidebar
  h2
    font-family: 'MuseoSans-500'
    letter-spacing: 0.1ex
    text-transform: uppercase
    color: $heading-color
    margin: 1.6em 0 1em 0

.columns
  .column
    width: 48%
    float: left
    margin-right: 4%
    margin-bottom: 1em
    @include responsive(600px)
      width: inherit
      float: none
      margin-right: 0
  .column:last-child
    margin-right: 0

.more
  text-align: right
  padding-right: 1em
  a:after
    content: '  ➤'

.mongo
  margin: 4em auto
  @include responsive(700px)
    margin: 3em auto
  @include responsive(600px)
    margin: 2.5em auto
  text-align: center
  a, button
    display: inline-block
    padding: 1em 1.6em
    font-size: 120%
    color: white
    background: $link-color
    border-radius: 1.5em
    &:hover
      color: white
      background: mix($link-color, #000000, 90%)
    &:active, &:focus
      color: white
      background: $link-active-color
    &:before
      content: '  '
    &:after
      content: '  ➤'
      color: mix($link-color, #ffffff, 10%)

.sidebar
  float: right
  width: 300px
  margin: 0 0 4em 2.5em
  @include responsive(700px)
    float: none
    width: inherit
    margin: 1em 5%
  text-align: center
  line-height: 140%
  h2
    font-size: 92%
  h2, p, ul
    margin: 0.8em 0
  ul
    list-style: none
  li
    margin: 0
  a, .date, .performer
    font-family: $font-face-heavy
  .block
    margin-bottom: 1.6em
  .mini
    font-size: 90%
    line-height: 120%
  .map
    img
      width: 100%
      max-width: 300px


.page-footer
  overflow: hidden
  background: $footer-bg-color
  color: white
  padding: 2em 12%
  a, a:visited
    color: white
  a:focus, a:hover, a:active
    color: $link-active-color
  h1, h2
    font-family: $font-face-heavy
    margin: 1em 0
  h1
    font-size: 110%
  .block
    display: inline-block
    vertical-align: top
    margin-right: 8%
    &:last-child
      margin-right: 0
    margin-bottom: 1.2em
  .social
    float: right
    margin-top: 1em
    @include sharrre-color('white', white, mix($footer-bg-color, white, 80))
  .sitemap
    margin-top: 1.6em
    font-size: 80%
    li
      margin: 0.6em 0
      li
        margin-left: 1.2em

form
  input, textarea
    font-size: 100%
    margin: 0.6em 0
    padding: 1ex 1.2ex
    border-radius: 1ex
    font-family: $font-face-regular
    &:focus
      outline: none !important
      box-shadow: 0 0 1ex $heading-active-color
  input
    &[type='submit']
      border: none
      background: $link-color
      &:active
        background: $link-active-color
      color: white

  &.formtastic
    max-width: 24em
    margin: 3em auto
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea
      display: block
      width: 99%
      border: 1px solid rgba(0, 0, 0, 0.25)
      background: #fbfbf9
      &:focus
        background: white
    textarea
      height: 4em
    input[type="checkbox"]
      margin-right: 1ex
      display: inline-block
      vertical-align: middle
      width: 1em
      height: 1em
    input[type="submit"]
      padding: 1em 1.6em
      font-size: 110%
      border-radius: 1.5em
    li
      list-style: none
      &.action
        text-align: center
      &.stringish, &.text
        margin: 3em 0
        @include responsive(700px)
          margin: 2em 0
      &.error
        input, textarea
          border: 2px solid #C22
          background: #fff4f4
    label
      font-size: 110%
    abbr
      color: rgba(0, 0, 1, 0.4)
      border: none
      margin-left: 0.5ex
    .inline-hint
      font-size: 80%
      margin: 0
    .inline-error
      margin: 0
      color: #b44
      font-family: $font-face-heavy

  &.mailing-list
    .note
      font-size: 60%
      opacity: 0.8
      margin: 0.2em 0
    input
      border: 1px solid $footer-bg-color
      &[type='email']
        width: 30ex
        max-width: 80%

.popup
  position: absolute
  display: none
  padding: 1ex
  padding-bottom: 1em
  background: $footer-bg-color
  color: white
  border-radius: 1ex
  border-top-right-radius: 0
  font-family: '$font-face-regular'
  text-transform: none
  letter-spacing: 0
  line-height: 100%
  text-align: right
  box-shadow: 0 1ex 1ex rgba(0, 0, 0, 0.333)
  h1
    font-family: $font-face-heavy
    margin-bottom: 1em
    font-size: 110%
  input
    display: block
    float: right
    clear: right
  li
    display: block !important
    margin: 0
    padding: 1em !important
    a
      font:
        family: 'MuseoSans-500'
        size: 120%
      text-transform: uppercase
      display: block
      margin-bottom: 0.6em
      padding: 0
    p
      margin: 0

.popup, .popup-header-active
  background: $footer-bg-color
  color: white
  a
    color: $link-active-color

.popup-header-active
  background: $footer-bg-color
  border-top-left-radius: 1ex
  border-top-right-radius: 1ex

//------------ Page-specific styling ------------

body.home
  .hero
    background-image: image-url('rmnp.jpeg')

body.composer_nights,
body.signups
  .hero
    background-image: image-url('soap-rainbow.jpeg')

body.music_tech
  .hero
    background-image: image-url('lcd.jpeg')
