!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    :sass
      .callout
        margin: 1.2em 4%
        font-size: 110%
      
      .signup-info
        margin: 1.2em 4%
        .attr
        .value
          margin: 0.4em 0 1.2em 2%
          font-style: italic
          white-space: pre-line

      .ps
        margin-top: 2em

  %body
    = yield
